:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}
mat-card{
    width: 1200px;
    margin-bottom: 10%;
    height: 100%;
}
mat-card-content{
    display: flex;
    padding: 15px;
    justify-content: center;
}
.background{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;
    width: 100%;
}
.user{
    width: 100%;;
}
.avatar{
    height: 30%;
    border-radius: 50%;
    border: solid 5px #bdc3d3;;
    margin: 2%;
    left: 0;
}
strong{
    font-size: 4em;
    width: 100%;
    position: relative;
    bottom: 35%;
}
q{
    font-size: 1.5em;
    position: relative;
    bottom: 25%;
    display: flex;
    justify-content: flex-end;
}
.info{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
p {
    font-size: 2em;
}
.contact{
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background: #eeeef0;
    border-radius: 5px;
    flex-basis: 40%;

}
.contact-title{
    font-size: 3em;
    display:flex;
    justify-content: flex-end;

}
/* .break {
    flex-basis: 100%;
    height: 0;
  } */
.user-post-avatar{
    height: 50px;
    width: 75px;
}
[postText]{
    display: flex;
    justify-content: center;
    min-height: 100px;
    background: #dddee2;
    border-radius: 5px;
    padding: 2%;
}
[postFooter]{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.post-avatar{
    height: 100%;
    border-radius: 50%;
}
[postFooter] p {
    height: 50px;
}