<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div myMenu>
  <nav>
    <ul>
      <li style = "--i: 5;"><a routerLink="./" routerLinkActive="active" ariaCurrentWhenActive="page">K J M </a></li>
      <li style = "--i: 4;"><a routerLink="/wall-component" routerLinkActive="active" ariaCurrentWhenActive="page">Wall</a></li>
      <li style = "--i: 3;"><a routerLink="/friends-component" routerLinkActive="active" ariaCurrentWhenActive="page">Friends</a></li>
      <li style = "--i: 2;"><a routerLink="/login-component" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
      <li style = "--i: 1;"><a routerLink="/register-component" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
    </ul>
  </nav>
</div>
<div myContent>
  <router-outlet></router-outlet>
</div>
<!-- The routed views render in the <router-outlet>-->
